
/* BAS DE LA PAGE PRINCIPAL*/

#footer {
    background-color: #aaaaaa;
    background-attachment: fixed;
    bottom: 45px;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
}


#footer ul {
    margin:0;
    padding:15px;
    list-style-type:none;
    text-align:center;
    }

    #footer li {
     float:left;
     margin-top: 25px;
     margin-left:150px;
     margin-bottom: 25px;
     padding:5px;
     }

     #footer li a {
      display:block;
      width: 100%;
      color:#ffffff;
      text-decoration:none;
      padding:5px;
      }


/* BAS DE LA PAGE SECONDAIRE*/

#reseau_sociaux {
    background-color: #7c7c7c;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    width: 100%;
}

.logo_facebook_bas{
  float: right;
  margin-top: 1px;
  margin-right: 150px;
}

.logo_twitter_bas {
  float: right;
  margin-top: 10px;
  margin-right: 0px;
}
