body {
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
    position: relative;
    min-height: 658px;
    padding-bottom:150px;
    padding-top:100px;
}

#block_article {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20%;
  width: 60%;
  background-color: white;
  min-height: 580px;
}

#trier_articles {
  position: fixed;
  left: 15px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 0;
  width: 15%;
  background-color: white;
  min-height: 250px;
}
