body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-color: #eeeeee;
    position: relative;
    padding-bottom:150px;
    padding-top:140px;
}
#main {
   min-height:100%;
   position:relative;

}
#container {
   height:100%;
}
