body {
    padding: 0px;
    margin: 0px;
    background-color: #eeeeee;
}
#header {
    background-color: #1c1c1c;
    background-attachment: fixed;
    position: fixed;
    color: white;
    height: 50px;
    width: 100%;
}
/* MENU DEROULANT */
#menu {
    position: fixed;
    background: #ffffff;
    padding: 5px;
    width: 100%;
    margin-top: 50px;
}
#menu ul {
    margin:0;
    padding:5px;
    list-style-type:none;
    text-align:center;
    }
   #menu li {
    float:left;
    margin:auto;
    padding:5px;
    background-color:#ffffff;
    }
   #menu li a {
    display:block;
    width:100px;
    color:#000000;
    text-decoration:none;
    padding:0px;
    }
   #menu li a:hover {
    color:#424242;
    }
    #menu ul li ul {
        display:none;
        }
    #menu ul li:hover ul {
        display:block;
        }
    #menu li:hover ul li {
        float:none;
        }
    #menu li ul {
        position:absolute;
        }
/* BAS DE LA PAGE */
#bas_de_page {
    background-color: #aaaaaa;
    margin-top: 100%;
    width: 100%;
}
#reseau_sociaux {
    background-color: #7c7c7c;
}

.logo_facebook_bas{
    margin-left: 1215px;
}

.logo_twitter_bas {
  margin-top: 10px;
    margin-right: 235px;
    float: right;
}
